Episode 4/Gerald Tools.json
{
  "name": "Gerald Tools",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}",
        "tableName": "gerald_code",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        144,
        192
      ],
      "id": "e38bf3be-121d-4ed1-a87c-65c91e7d7980",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "QikNo6ZPoyj6OlUl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Tool Task"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        0
      ],
      "id": "b6e4142a-25f6-427b-a70d-98642e9ffe33",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Tool Task'] }}",
        "options": {
          "systemMessage": "You execute tool tasks. Match the task to the right function and call it.\n\nFILESYSTEM → read_file, read_text_file, read_media_file, read_multiple_files, write_file, edit_file, create_directory, list_directory, list_directory_with_sizes, directory_tree, move_file, search_files, get_file_info, list_allowed_directories\nAllowed directories: /srv and subdirectories.\n\nBRAVE SEARCH → brave_web_search, brave_local_search\nUse for anything time-sensitive or requiring current information.\n\nGITHUB → create_or_update_file, search_repositories, create_repository, get_file_contents, push_files, create_issue, create_pull_request, fork_repository\n\nOLLAMA → list, show, create, pull, push, cp, rm, run, chat_completion\nTo list models call \"list\". To check a model call \"show\". Never use SSH for Ollama tasks.\n\nPOSTGRES → query\nTakes a \"sql\" parameter. Gerald memory tables: gerald_main, gerald_code.\n\nRules:\n- Call the function directly. Do not describe what you will do.\n- When you have the result, STOP and return it.\n- Do not retry failed calls in a loop.\n- If a tool errors, report the error and stop.",
          "maxIterations": 5,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "a36b2ee3-4a3d-4c09-a894-a9f4462e4442",
      "name": "Gerald Tools"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {
          "temperature": 0,
          "keepAlive": "25m"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "e71df3f1-a583-4aea-ba17-ef3845fe8c17",
      "name": "Qwen2.5:7b",
      "credentials": {
        "ollamaApi": {
          "id": "9jBSVLOvKZh7QXPW",
          "name": "Mac Mini"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.4.115:8881/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "77a586ec-3d38-41ab-a921-2432d83e739c",
      "name": "MCP File System"
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.4.115:8883/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        432,
        368
      ],
      "id": "190e4a6d-0aab-4e03-9756-0844d16fb8ba",
      "name": "MCP GitHub"
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.4.115:8885/sse",
        "serverTransport": "sse",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        576,
        208
      ],
      "id": "b447d44d-e502-4e43-8252-f1f694cd4527",
      "name": "MCP Postgres"
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.4.115:8884/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        432,
        208
      ],
      "id": "cd23de56-b14d-44b3-afd1-7254296f720d",
      "name": "MCP Ollama"
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.4.115:8882/sse",
        "serverTransport": "sse",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        288,
        368
      ],
      "id": "d2f31599-a16f-4fb1-8dfe-d2de0591aad8",
      "name": "MCP Brave Browser"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Tool Task": "List all Ollama models currently running on the server using the MCP Ollama tool"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Gerald Tools",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Gerald Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen2.5:7b": {
      "ai_languageModel": [
        [
          {
            "node": "Gerald Tools",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP File System": {
      "ai_tool": [
        [
          {
            "node": "Gerald Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP GitHub": {
      "ai_tool": [
        [
          {
            "node": "Gerald Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Postgres": {
      "ai_tool": [
        [
          {
            "node": "Gerald Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Ollama": {
      "ai_tool": [
        [
          {
            "node": "Gerald Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Brave Browser": {
      "ai_tool": [
        [
          {
            "node": "Gerald Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c785d008-eceb-47a2-a96c-ae2fcadd8e56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d247cb1942658dba153c26ae46e28d166e331fce2ddcebde29a3249f000436c2"
  },
  "id": "fAYwknjB0kcn1NRG",
  "tags": []
}